.titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 300%;
	margin-bottom: 0;
}

.tituloInterior {
	font-family: 'Montserrat', sans-serif;
	font-size: 150%;
	font-weight: 800;	
	color:white;
}

.subtitulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight: 400;
}

.parrafoInterior {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight: 400;	
	color:white;
}
